main 
{
  max-width: 720px;
  margin: 0 auto;
  padding: 52px 26px;
}

body
{
	font-family: Consolas; 
	font-size: 18px; 
	background:#edf2f4;
	justify:center;
}

iframe
{
	justify:center;
}

img
{
	justify:center;
}

h1
{
	font-size: 32px;
	color:#457b9d;
	letter-spacing: 1px;
}

li 
{
  padding-bottom: 13px;
}

a 
{
	text-decoration: none;	
	color:#0090c1;
}

a:hover
{
	text-decoration: underline;
}